<footer>
    <div class="row">
        <address>
            <a href="mailto:info@wip-italia.com ">info@wip-italia.com </a><br>
            <a href="tel:778-330-2389">778-330-2389</a><br>
            <a href="sms:666-666-6666">666-666-6666</a><br>
        </address>
        <a href="#">Torna in cima ⬆</a>
    </div>
    <small>
        W.I.P. SRL <br>
        Sede Legale: VIALE PARIOLI, 12 00197 Roma <br>
        Sede Operativa VIA LICIO GIORGIERI, 99 00165 Roma <br>
        P.I. e C.F. 12118681001<br>
    </small>
</footer>

