<!-- Start Hero Home Area -->
<section>
    <div class="hero-area height-700 bg-semi" style=" background-image: url(/assets/images/hero_area.jpg); ">
        <div class="container">
            <div class="row aligh-items-center">
                <div class="col-md-12">
                    <div class="hero-text">
                        <h2 class="big-heading text-white">{{page.title}}<span class="light-comma"></span></h2>
                        <p class="sub-title text-white">{{page.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Home Area -->