$white: #fff;
$white_2: #f3f3f3;
$white_3: #f7f7f7;
$semi_white: #f1f1f1;
$black: #222222;
$hover: #fd0000;
$hover_2: #fd0000;
$semi_hover: #24292e;
$semi_hover_2: #fd0000;
$semi_hover_3: #fd0000;
$semi_hover_4: #2f363d;
$semi_hover_5: #24292e;
$dark: #ddd;
$dark_2: #dfdfdf;
$dark_3: #cccccc;
$dark_4: #d1d5da;
$dark_5: #dbdbdb;
$dark_6: #dee2e6;
$dark_7: #dcdcdc;
$dark_8: #d9d9d9;
$dark_9: #d5d5d5;
$secondary_color: #7551ec;
$default_color: #656565;
$fb_link_bg: #3b5999;
$twitter_link_bg: #55acee;
$pinterest_linbk_bg: #bd081c;
$default_size: 16px;
$default_font: 'Poppins', sans-serif;  
$font_2: 'Rubik', sans-serif;
$font_3: 'Oswald', sans-serif;
$btn_padding: 10px 25px;
$bold_weight: 600;