// $backgroundColor: #ffffff;
// $bodyColor: #000000;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// body {
//   background: $backgroundColor;
//   color: $bodyColor;
//   font-family: $bodyFont;
// }

:root {

}

body{
  margin: 0;
  padding: 0;
  max-width: unset;
}

.footer{
  margin: 0;
  padding: 1rem;
  border-top: solid 2px var(--border);
}

.nav-bar{
  border-bottom: solid 1px var(--border);
}

.nav-list {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button{
    margin: 0 1rem 0 0;
  }
}

.nav-item {
  list-style: none;
  margin-right: 1rem;
  &:first-child{
    margin-right: auto;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bolder;
  }
  a {
    color: var(--text-main);
    &:hover{
      text-decoration: none;
      color: var(--links);
    }
  }
}

.full-page{
  min-height: 100vh;
}

.hero{
  min-height: calc(100vh - 0vh);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.home-section {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-top: solid 2px var(--border);
  font-size: xx-large;
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background);
}