// $backgroundColor: #ffffff;
// $bodyColor: #000000;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// body {
//   background: $backgroundColor;
//   color: $bodyColor;
//   font-family: $bodyFont;
// }

:root {

}

body{
  max-width: 960px;
  margin: 10px auto 40px;
  padding: 0 20px;
}

nav{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: right;
      a{
        display: block;
        padding: 8px;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
