<!-- Start Contact Info Widget -->
<div class="contact-widget p-4 border">
<div class="contact-wrapper">
    
    <div class="contact-text dotted-border-bottom pb-3">
        <h2 class="widget-title-2 mb-4">Contatti <span class="light-comma"></span></h2>
        
        <p><i class="fas fa-map-marker-alt"></i> Indirizzo:</p>
        <p>{{site.data.contatti.sede-operativa}}</p>
        
    </div>
    <div class="contact-text mt-4">
        
          <p><i class="fas fa-phone-alt"></i> Telefono: {{site.data.contatti.telefono}}</p>
        
          <p><i class="fas fa-fax"></i> Fax: {{site.data.contatti.fax}}</p>
        
          <p><i class="fas fa-envelope"></i> Email: <a href="mailto:{{site.data.contatti.email}}">{{site.data.contatti.email}}</a></p>
          
    </div>
</div>
</div>
<!-- End Contact Info Widget -->