
<!-- Start Recent Posts Widget -->
<div class="news-widget border p-4 mb-5">
  <h2 class="widget-title-2">Recent News <span class="light-comma"></span></h2>
  <div class="news-widget-content">
      
      <div class="single-news d-flex align-items-center py-4">
          
          <div class="news-thumb">
              <a href="/water-leaking-between"><img src="/assets/images/blog_02.jpg" alt="Water Leaking Between the Gutters and the"></a>
          </div>
          
          <div class="news-content ps-3">
              <p><a href="/water-leaking-between">Water Leaking Between the Gutters and the</a></p>
              <span>04 Dec 2020</span>
          </div>
      </div>
      
      <div class="single-news d-flex align-items-center py-4">
          
          <div class="news-thumb">
              <a href="/red-mold-in-the-bathroom"><img src="/assets/images/blog_03.jpg" alt="Red Mold in the Bathroom or Shower what is it how?"></a>
          </div>
          
          <div class="news-content ps-3">
              <p><a href="/red-mold-in-the-bathroom">Red Mold in the Bathroom or Shower what is it how?</a></p>
              <span>03 Dec 2020</span>
          </div>
      </div>
      
      <div class="single-news d-flex align-items-center py-4">
          
          <div class="news-thumb">
              <a href="/black_mold_how_dangerous"><img src="/assets/images/blog_01.jpg" alt="Black Mold How Dangerous is it and why should you"></a>
          </div>
          
          <div class="news-content ps-3">
              <p><a href="/black_mold_how_dangerous">Black Mold How Dangerous is it and why should you</a></p>
              <span>02 Dec 2020</span>
          </div>
      </div>
      
  </div>
</div>
<!-- End Recent Posts Widget -->