<!-- Start Applicant Info Area -->
<section>
  <div class="applicant-info-area">
    <div class="container">
        <div class="row inner-pb">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="heading-2">Prequalification Applicants</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="plane-text-wrapper pb-5">
                    <p>Construction is the process of constructing a building or infrastructure. Construction differs from manufacturing in that manufacturing typically involves mass production of similar items without a designated purchaser, while construction typically takes place on location for a known client construction as an industry comprises six to nine percent.
</p>
                </div>
                <div class="applicants-info row">
                    
                    <div class="col-lg-4">
                        <div class="list-2 bg-semi-white border p-4">
                            <ul>
                                
                                 <li><span>01</span> Copy of W-9</li>
                                
                                 <li><span>02</span> List of company license</li>
                                
                                 <li><span>03</span> List of state sales tax</li>
                                
                                 <li><span>04</span> List of unemployment</li>
                                
                                 <li><span>05</span> Insurance agreements</li>
                                
                                 <li><span>06</span> 300 logs from last 3 years</li>
                                
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="list-2 bg-semi-white border p-4">
                            <ul>
                                
                                 <li><span>07</span> Insurance agreements</li>
                                
                                 <li><span>08</span> List of current projects</li>
                                
                                 <li><span>09</span> List of recently projects</li>
                                
                                 <li><span>10</span> Current financial state</li>
                                
                                 <li><span>11</span> Verification of 3 years</li>
                                
                                 <li><span>12</span> Insurance information</li>
                                
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="list-2 bg-semi-white border p-4">
                            <ul>
                                
                                 <li><span>13</span> Bank information</li>
                                
                                 <li><span>14</span> Bradstreet information</li>
                                
                                 <li><span>15</span> Surety information</li>
                                
                                 <li><span>16</span> 3 supplier referencesg</li>
                                
                                 <li><span>17</span> Insurance agreements</li>
                                
                                 <li><span>18</span> 3 contractor references</li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
 </div>
 </section>
 <!-- End Applicant Info Area -->