<!-- Start Brands Carousel Area -->
<div class="ptb-100">
     <div class="brands-carousel">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="brands-wrapper slick-initialized slick-slider">
                              <div class="slick-list draggable">
                                   <div class="slick-track"
                                        style="opacity: 1; width: 3536px; transform: translate3d(-1040px, 0px, 0px);">
                                        <div class="slick-slide slick-cloned" data-slick-index="-5" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_02.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="-4" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_05.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="-3" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_01.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="-2" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_05.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="-1" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_06.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                             aria-hidden="false" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="0"><img
                                                                 src="/assets/images/brand_01.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                             style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="0"><img
                                                                 src="/assets/images/brand_02.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                                             style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="0"><img
                                                                 src="/assets/images/brand_05.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false"
                                             style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="0"><img
                                                                 src="/assets/images/brand_01.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false"
                                             style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="0"><img
                                                                 src="/assets/images/brand_05.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1"
                                             style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_06.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="6" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_01.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="7" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_02.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="8" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_05.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="9" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_01.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="10" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_05.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" data-slick-index="11" id=""
                                             aria-hidden="true" tabindex="-1" style="width: 108px;">
                                             <div>
                                                  <div class="single-brand text-center"
                                                       style="width: 100%; display: inline-block;">

                                                       <a href="#" target="_blank" tabindex="-1"><img
                                                                 src="/assets/images/brand_06.png" alt=""></a>

                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- End Brands Carousel Area -->