<!-- Start Call to Action Area -->
<section class="bg-semi-white black-overlay">
  <div class="two-columns-area" style=" background-image: url(/assets/images/curve_bg.png); ">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="two-columns-content py-5">
                      <h2 class="special-heading mb-3">Sei interessato ai prodotti <span>WIP</span> per la tua azienda?</h2>
                      <p class="mb-4">Ci prenderemo cura delle tue esigenze.</p>
                      <button class="custom-big-btn" data-bs-toggle="modal" data-bs-target="#quoteModal">
                          Ottieni un Preventivo <span><i class="fas fa-caret-right"></i></span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Call to Action Area -->