<!-- Start Company Info Area -->
<section class="bg-semi-white section-pb">
  <div class="company-section">
      <div class="container">
          <div class="row">
              <div class="col-md-6 mb-5 mb-md-0 pb-4 pb-md-0">
                  <div class="custom-tabs-wrapper">
                      <h2 class="heading-2 inner-pb">Why Choose us<span class="light-comma"></span></h2>
                      <div class="tabs-container">
                          <div class="accordion" id="faqAccordion">
                              
                              <div class="accordion-item mb-2">
                                  <h2 class="accordion-header" id="heading_1">
                                      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-controls="collapse_1" aria-expanded=" true ">
                                          <span>Our Vision in Our Info 1</span>
                                      </button>
                                  </h2>
                                  <div id="collapse_1" class="accordion-collapse collapse  show " aria-labelledby="heading_1" data-bs-parent="#faqAccordion">
                                      <div class="accordion-body">
                                          <p>Based in Illinois, the Constructify Construction Company, Inc. general contractor. It works hand in hand with insurance in re and restoring residential and commercial buildings that have the been dams a fire. Even though landscap ing is considered mostly as the simple planting.
</p>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="accordion-item mb-2">
                                  <h2 class="accordion-header" id="heading_2">
                                      <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-controls="collapse_2" aria-expanded=" false ">
                                          <span>Our Vision in Our Info 2</span>
                                      </button>
                                  </h2>
                                  <div id="collapse_2" class="accordion-collapse collapse " aria-labelledby="heading_2" data-bs-parent="#faqAccordion">
                                      <div class="accordion-body">
                                          <p>Based in Illinois, the Constructify Construction Company, Inc. general contractor. It works hand in hand with insurance in re and restoring residential and commercial buildings that have the been dams a fire. Even though landscap ing is considered mostly as the simple planting.
</p>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="accordion-item mb-2">
                                  <h2 class="accordion-header" id="heading_3">
                                      <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-controls="collapse_3" aria-expanded=" false ">
                                          <span>Our Vision in Our Info 3</span>
                                      </button>
                                  </h2>
                                  <div id="collapse_3" class="accordion-collapse collapse " aria-labelledby="heading_3" data-bs-parent="#faqAccordion">
                                      <div class="accordion-body">
                                          <p>Based in Illinois, the Constructify Construction Company, Inc. general contractor. It works hand in hand with insurance in re and restoring residential and commercial buildings that have the been dams a fire. Even though landscap ing is considered mostly as the simple planting.
</p>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 ps-md-5">
                  <div class="our-skills-area">
                      <h2 class="heading-2 inner-pb">Our Skills<span class="light-comma"></span></h2>
                      <div class="skills-wrapper">
                          
                          <div class="single-progress mb-3">
                              <div class="progress-info d-flex justify-content-between mb-2">
                                  <span class="skill-name">Production</span>
                                  <span class="skill-rank">95%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          
                          <div class="single-progress mb-3">
                              <div class="progress-info d-flex justify-content-between mb-2">
                                  <span class="skill-name">EPC Works</span>
                                  <span class="skill-rank">60%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          
                          <div class="single-progress mb-3">
                              <div class="progress-info d-flex justify-content-between mb-2">
                                  <span class="skill-name">Customer Satisfaction</span>
                                  <span class="skill-rank">90%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          
                          <div class="single-progress mb-3">
                              <div class="progress-info d-flex justify-content-between mb-2">
                                  <span class="skill-name">Utillizaion Rate</span>
                                  <span class="skill-rank">80%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          
                          <div class="single-progress mb-3">
                              <div class="progress-info d-flex justify-content-between mb-2">
                                  <span class="skill-name">Project Done</span>
                                  <span class="skill-rank">75%</span>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Company Info Area -->