<!-- Start Contact Form -->
<section class="section-ptb">
  <div class="contact-form-area">
      <div class="container">
          <div class="row inner-pb">
              <div class="col-md-12 text-center">
                  <div class="section-title">
                      <h2 class="heading-2 inner-pb"> Contattaci<span class="light-comma"></span></h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="contact-form">
                      <form action="https://formsubmit.io/send/tortoizthemes@gmail.com" class="row">
                        <div class="col-md-6 mb-4">
                           <div class="form-group">
                              <label for="user_name">Nome</label>
                              <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Nome e Cognome" required/>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="user_email">Email</label>
                                <input type="email" name="user_email" class="form-control" id="user_email" placeholder="La tua email" required/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="user_phone_number">Telefono</label>
                                <input type="number" class="form-control" name="user_phone_number" id="user_phone_number" placeholder="Il tuo numero di telefono" required/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="user_subject">Oggetto</label>
                                <input type="text" class="form-control" name="user_subject" id="user_subject" placeholder="Oggetto della richiesta" required/>
                            </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                              <label for="user_message">Testo del messaggio</label>
                          </div>
                            <textarea name="user_message" id="user_message" cols="30" rows="10" class="form-control" placeholder="Il tuo messaggio"></textarea>
                        </div>
                        <div class="col-md-12 mt-5">
                            <button type="submit">Invia</button>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Contact Form -->