<!-- Start External Info Area -->
<section class="section-ptb">
  <div class="external-info-area">
      <div class="container">
          <div class="row inner-pb">
              <div class="col-md-12">
                 <div class="section-title">
                   <h2 class="heading-2">Get Paid Sooner, Faster</h2>
                 </div>
              </div>
          </div>
          <div class="row">
              
              <div class="col-lg-4 mb-5">
                  <div class="text-widget">
                      <h6 class="heading-6 pb-3">/ Known payment timing</h6>
                      <p>Within five days (usually two to three days) of owner approval of the payment</p>
                  </div>
              </div>
              
              <div class="col-lg-4 mb-5">
                  <div class="text-widget">
                      <h6 class="heading-6 pb-3">/ Get paid when we do</h6>
                      <p>Within five days (usually two to three days) of owner approval of the payment</p>
                  </div>
              </div>
              
              <div class="col-lg-4 mb-5">
                  <div class="text-widget">
                      <h6 class="heading-6 pb-3">/ Improved cash flow</h6>
                      <p>Receiving your payment early strengthens your balance sheet and frees up your debt capacity</p>
                  </div>
              </div>
              
              <div class="col-lg-4 mb-5">
                  <div class="text-widget">
                      <h6 class="heading-6 pb-3">/ Improved cash flow</h6>
                      <p>Within five days (usually two to three days) of owner approval of the payment</p>
                  </div>
              </div>
              
              <div class="col-lg-4 mb-5">
                  <div class="text-widget">
                      <h6 class="heading-6 pb-3">/ Improved cash flow</h6>
                      <p>Receiving your payment early strengthens your balance sheet and frees up your debt capacity</p>
                  </div>
              </div>
              
              <div class="col-lg-4 mb-5">
                  <div class="text-widget">
                      <h6 class="heading-6 pb-3">/ Known payment timing</h6>
                      <p>Receiving your payment early strengthens your balance sheet and frees up your debt capacity</p>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<!-- End External Info Area -->