<!-- Start Features Area -->
<section class="section-ptb">
    <div class="features-area">
        <div class="container">
            <div class="row align-items-center gx-5">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="feature-text">
                        <h2 class="heading-2 mb-4">Abbigliamento antinfortunistico <span class="light-comma"></span></h2>
                        <div class="text-wrapper">
                          <p>Il settore della sicurezza sul lavoro è in continua e rapida evoluzione non solo sotto l’aspetto normativo di allineamento alle principali normative europee, ma anche per ciò che riguarda la tipologia di prodotti e dei materiali in un mercato sempre più globalizzato. La filosofia operativa della nostra azienda è quella di uniformarsi alle esigenze di un mercato mai come oggi rivolto alla qualità dei prodotti, alla concorrenzialità dei prezzi, all’osservanza delle norme e alla puntualità delle forniture.</p><p>Lavori svolti in cantieri su strada o in condizione di scarsa visibilità richiedono un abbigliamento protettivo particolare per evitare incidenti sul lavoro. L’abbigliamento alta visibilità vi offre piena sicurezza e comodità. Troverete indumenti alta visibilità nei colori arancio fluo e giallo fluo: pantaloni, parka, impermeabili, gilet, polo e t-shirt. </p>
                            <h2 class="heading-2 mb-4">Segnaletica stradale ed aziendale <span class="light-comma"></span></h2>
                          <p class="mb-0">Disponiamo di una vasta gamma di cartelli stradali e aziendali standard e personalizzabili a richiesta del cliente: segnali di obbligo e divieto, segnaletica speciale, dissuasori, insegne, banners, segnaletica stradale verticale (lavori in corso, divieto di sosta, transenne, lampade crepuscolari ecc.).</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-image video-wrapper">
                        
                         <img src="/assets/images/thumb_02.jpg" alt="Delivering Our Work Safety" class="img-fluid w-100">
                        
                        
                        <div class="play-btn">
                            <a class="custom-btn" data-fancybox="" href="https://www.youtube.com/watch?v=JIxXd1xp6uo"><i class="fas fa-play"></i> View Commitment</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Features Area -->