<!-- Start Google Map -->
<section class="section-ptb">
  <div class="gmap-area">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="gmap-wrapper">
                      <div class="mapouter">
                          <div class="gmap_canvas">
                            <iframe id="gmap_canvas" src="{{page.map}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Google Map -->