<!-- Start Investor Relation -->
<div class="investor-relation section-ptb">
  <div class="container">
      
      <div class="row inner-pb">
          <div class="col-md-12">
              <div class="section-title">
                <h2 class="heading-2">Investor Relations <span class="light-comma"></span></h2>
              </div>
          </div>
      </div>
      
      <div class="row align-items-center special-lg-border mx-lg-0">
          <!-- Start investor pricing -->
          <div class="col-md-6 ps-lg-0 mb-5 mb-md-0">
              <div class="investor-pricing-wrapper bg-hover p-4 p-lg-5 text-white"> 
              <div class="investor-pricing border-bottom-light pb-2">
                  
                   <p class="fw-light">Constrata Construction Managemetnt Inc.</p>
                  
                  
                   <h2 class="mb-3">NYSE: KCM</h2>
                  
                  
                   <h2 class="text-bold mb-3">$ 05.73</h2>
                  
                  
                   <p class="fw-light">on Dec 25, 2019 at 02:30 p.m.</p>
                  
              </div>
              <div class="pricing-action mt-4">
                  
                   <p class="fw-light">Change:</p>
                  
                  
                  <div class="change-btn mb-3">
                      <h2>+0.34 (4.50%)</h2>
                      <button><i class="fas fa-angle-down"></i></button>
                  </div>
                  
                  
                  
                  <p class="fw-light">Volume:</p>
                  
                  
                   <h2>3, 668,852</h2>
                  
                  
                   <p class="fw-light mb-0"># Minium 25 minutes delayed</p>
                  
              </div>
          </div>
          </div>
          <!-- End investor pricing -->
          
          
          <!-- Start investor info -->
          <div class="col-md-6">
              <div class="investor-info-wrapper p-lg-4">
              <!-- Start Social Account -->
              <div class="social-profiles-2">
                  <ul>
                      
                      <li class=" active ">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      
                      <li class="">
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      
                      <li class="">
                          <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      
                      <li class="">
                          <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      
                  </ul>
              </div>
              <!-- End Social Account -->
              <!-- Start Inner Widgets -->
              <div class="inner-widgets">
                  <div class="text-widget my-5">
                      
                       <h6 class="heading-6">For Any Information Email Us Here:</h6>
                      
                      
                      <p>fusionlab.co@gmail.com</p>
                      
                  </div>
                  
                  <div class="text-widget my-5">
                      
                       <h6 class="heading-6">Email Alerts</h6>
                      
                      
                       <p>Receive Every Constrta Updates Via E-mail</p>
                      
                  </div>
                  <div class="subscribe-widget">
                      <form action="https://formsubmit.io/send/rubel2585@gmail.com">
                          <input type="email" class="form-control shadow" name="user_email" placeholder="Email Here" required="">
                          <button type="submit" class="custom-btn mt-4">Subscribe</button>
                      </form>
                  </div>
                  
              </div>
              <!-- End Inner Widgets -->
              </div>
          </div>
          <!-- End investor info -->
          
      </div>
  </div>
</div>
<!-- End Investor Relation -->