<!--  Start press release area  -->
<section class="section-ptb">
  <div class="press-area">
    <div class="container">

      <div class="row inner-pb">
        <div class="col-md-12">
          <div class="section-title">
            <h2 class="heading-2">{{press-title}}<span class="light-comma"></span></h2>
          </div>
        </div>
      </div>

      <div class="row gx-5">
        <div class="col-lg-8">
          <div class="press-wrapper">

            {% for documento in documenti %}
            <div class="single-press d-flex align-items-center p-4 border mb-4" style="justify-content: space-between;">
              <div class="press-content">
                <p>{{documento.data}}</p>
                <h5 class="heading-5-alt"><a href="{{documento.link}}">{{documento.name}}</a></h5>
              </div>

              <div class="press-icon pe-4">
                <a href="{{documento.link}}"><img src="/assets/images/pdf_icon.png" alt="pdf"
                    class="img-fluid me-2"></a>
              </div>

            </div>
            {% endfor %}

          </div>
        </div>

<!-- 
        <div class="col-lg-4 mt-5 mt-lg-0">
          <aside class="bg-hover px-4 py-5">
            <div class="sidebar-2 text-white">

              <div class="ebok-thumb text-center">
                <a href="#"><img src="/assets/images/ebook.png" alt="2020 Summary Annual Report &amp; Proxy"
                    class="img-fluid"></a>
              </div>

              <div class="ebook-info px-2 pt-4">

                <h3 class="heading-three">2020 Summary Annual Report &amp; Proxy</h3>

                <p class="fw-light py-4">The earliest large-scale buildings for which evidence survives have been found
                  in ancient Mesopotamia. The smaller dwellings only survive in traces of foundations, civilizations
                  built.
                </p>
                <div class="download-link">
                  <a href="#" class="fw-light"><img src="/assets/images/download_icon.png" alt="download"
                      class="img-fluid">Download PSF File</a>
                </div>
              </div>
            </div>
          </aside>
        </div> -->

      </div>
    </div>
  </div>
</section>
<!--  End press release area  -->