<!-- Start Pricing Area -->
<section class="section-ptb">
  <div class="pricing-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-title">
                      <h2 class="heading-2 inner-pb">Our Pricing Plans<span class="light-comma"></span></h2>
                  </div>
              </div>
          </div>
          <div class="row">
              
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center">
                  <div class="single-pricing px-4 py-5">
                      <div class="pricing-header border-bottom pb-4 mb-4">
                          <h2>$5</h2>
                          <span>Basic</span>
                      </div>
                      <div class="pricing-body">
                          <ul>
                              
                              <li>General Contracting</li>
                              
                              <li>General Contracting</li>
                              
                              <li>Expert Consulting</li>
                              
                              <li>Business Advices</li>
                              
                              <li>General Contracting</li>
                              
                              <li>Design &amp; Build</li>
                              
                              <li>24/7 Support</li>
                              
                          </ul>
                      </div>
                      
                      <div class="pricing-footer mt-4">
                          <a href="#" class="custom-btn">Choose Plan</a>
                      </div>
                      
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center">
                  <div class="single-pricing px-4 py-5">
                      <div class="pricing-header border-bottom pb-4 mb-4">
                          <h2>$99</h2>
                          <span>Standard</span>
                      </div>
                      <div class="pricing-body">
                          <ul>
                              
                              <li>General Contracting</li>
                              
                              <li>General Contracting</li>
                              
                              <li>Expert Consulting</li>
                              
                              <li>Business Advices</li>
                              
                              <li>General Contracting</li>
                              
                              <li>Design &amp; Build</li>
                              
                              <li>24/7 Support</li>
                              
                          </ul>
                      </div>
                      
                      <div class="pricing-footer mt-4">
                          <a href="#" class="custom-btn">Choose Plan</a>
                      </div>
                      
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center">
                  <div class="single-pricing px-4 py-5">
                      <div class="pricing-header border-bottom pb-4 mb-4">
                          <h2>$180</h2>
                          <span>Premium</span>
                      </div>
                      <div class="pricing-body">
                          <ul>
                              
                              <li>General Contracting</li>
                              
                              <li>General Contracting</li>
                              
                              <li>Expert Consulting</li>
                              
                              <li>Business Advices</li>
                              
                              <li>General Contracting</li>
                              
                              <li>Design &amp; Build</li>
                              
                              <li>24/7 Support</li>
                              
                          </ul>
                      </div>
                      
                      <div class="pricing-footer mt-4">
                          <a href="#" class="custom-btn">Choose Plan</a>
                      </div>
                      
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<!-- End Pricing Area -->