<section class="section-ptb">
  <div class="page-content-wrapper">
  <div class="projects-area">
      <div class="container inner-pb">
          <div class="row align-items-center">
              
              <div class="col-md-5 mb-xs-4">
                  <h2 class="heading-2">{{projects-title}}<span class="light-comma"></span></h2>
              </div>
              
              <div class="col-md-7">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                   
                      <li class="nav-item" role="presentation">
                      <a class="nav-link  active " id="tab-1" data-bs-toggle="tab" href="#projects_tab_1" role="tab">
                        All
                      </a>
                      </li>
                   
                      <li class="nav-item" role="presentation">
                      <a class="nav-link " id="tab-2" data-bs-toggle="tab" href="#projects_tab_2" role="tab">
                        House
                      </a>
                      </li>
                   
                      <li class="nav-item" role="presentation">
                      <a class="nav-link " id="tab-3" data-bs-toggle="tab" href="#projects_tab_3" role="tab">
                        Building
                      </a>
                      </li>
                   
                      <li class="nav-item" role="presentation">
                      <a class="nav-link " id="tab-4" data-bs-toggle="tab" href="#projects_tab_4" role="tab">
                        Garden
                      </a>
                      </li>
                   
                      <li class="nav-item" role="presentation">
                      <a class="nav-link " id="tab-5" data-bs-toggle="tab" href="#projects_tab_5" role="tab">
                        Office
                      </a>
                      </li>
                   
                      <li class="nav-item" role="presentation">
                      <a class="nav-link " id="tab-6" data-bs-toggle="tab" href="#projects_tab_6" role="tab">
                        Interior
                      </a>
                      </li>
                   
                  </ul>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="portfolios-content">
              <div class="tab-content">
                 
                  <div class="tab-pane fade  active show " id="projects_tab_1" role="tabpanel">
                      <div class="row portfolio-wrapper align-items-center">
                          
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_10.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_11.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_13.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_14.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_13.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_11.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                  </div>
                 
                  <div class="tab-pane fade " id="projects_tab_2" role="tabpanel">
                      <div class="row portfolio-wrapper align-items-center">
                          
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_16.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_16.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_17.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_11.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_10.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_16.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_17.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                  </div>
                 
                  <div class="tab-pane fade " id="projects_tab_3" role="tabpanel">
                      <div class="row portfolio-wrapper align-items-center">
                          
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_13.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_14.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_16.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_17.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_14.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_11.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_10.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                  </div>
                 
                  <div class="tab-pane fade " id="projects_tab_4" role="tabpanel">
                      <div class="row portfolio-wrapper align-items-center">
                          
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_07.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_08.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_09.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_16.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_17.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_14.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                  </div>
                 
                  <div class="tab-pane fade " id="projects_tab_5" role="tabpanel">
                      <div class="row portfolio-wrapper align-items-center">
                          
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_03.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_04.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_05.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_06.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_07.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_08.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_10.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_09.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_08.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                  </div>
                 
                  <div class="tab-pane fade " id="projects_tab_6" role="tabpanel">
                      <div class="row portfolio-wrapper align-items-center">
                          
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_13.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_14.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_12.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_14.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_16.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_15.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                          <div class="col-md-4 col-sm-6 ps-md-0 mb-3">
                              <div class="single-portfolio">
                                  <a href="#">
                                      <img src="/assets/images/project_17.jpg" class="img-fluid w-100" alt="Construction Build">
                                  </a>
                                  <div class="hover-text">
                                      <h2>Construction Build</h2>
                                      <p>CONSTRUCTION SITE</p>
                                  </div>
                                  <div class="plus-btn">
                                      <a href="#"><img src="/assets/images/plus_icon.png" alt="plus icon"></a>
                                  </div>
                              </div>
                          </div>
                         
                      </div>
                  </div>
                 
              </div>
          </div>
      </div>
    </div>
   </div>
  </section>