<!-- Start Subcontact Area -->
<section class="section-ptb">
  <div class="sub-contact-area">
      <div class="container">
          <div class="row inner-pb">
              <div class="col-md-12">
                  <div class="section-title">
                      <h2 class="heading-2">Subcontractor <span class="light-comma"></span></h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="contact-form">
                      <form action="https://formsubmit.io/send/rubel2585@gmail.com" class="row">
                        <div class="col-md-12 mb-4">
                           <div class="form-group">
                              <label for="corporate_entity">Corporate Entity</label>
                              <select class="form-select" aria-label="Default select example" id="corporate_entity" name="corporate_entity">
                                <option selected="">Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                              <label for="user_country">Country</label>
                              <select class="form-select" aria-label="Default select example" id="user_country" name="user_country">
                                <option selected="">Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="user_zip_code">Zip Code</label>
                                <input type="number" class="form-control" name="user_zip_code" id="user_zip_code" placeholder="Zip Code" required="">
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="form-group">
                                <label for="user_txt_id">Txt ID</label>
                                <input type="number" class="form-control" name="user_txt_id" id="user_txt_id" placeholder="Zip Code" required="">
                            </div>
                        </div>
                      <div class="col-md-12 mb-4">
                           <div class="form-group">
                              <label for="payment_method">Corporate Entity</label>
                              <select class="form-select" aria-label="Default select example" id="payment_method" name="payment_method">
                                <option selected="">Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <button type="submit">Submit Now</button>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Subcontact Area -->