<!-- Start Our Team Area -->
<section class="section-ptb bg-semi-white">
  <div class="our-team-area">
      <div class="container">
          <div class="row inner-pb">
              <div class="col-md-12">
                  <div class="section-title">
                      <h2 class="heading-2">Our Experts <span class="light-comma"></span></h2>
                  </div>
              </div>
          </div>
          <div class="row">
              
              <div class="col-lg-4 col-sm-6  mb-5 ">
                  <div class="single-team">
                      <div class="member-thumb w-100">
                          <img src="/assets/images/team_01.jpg" alt="Mojlak Fanck" class="img-fluid w-100">
                      </div>
                      <div class="hover-text">
                          <h3>Mojlak Fanck</h3>
                          <p>Building Worker</p>
                      </div>
                      <div class="social-links">
                          <ul>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              </li>
                              
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-sm-6  mb-5 ">
                  <div class="single-team">
                      <div class="member-thumb w-100">
                          <img src="/assets/images/team_03.jpg" alt="Mojlak Fanck" class="img-fluid w-100">
                      </div>
                      <div class="hover-text">
                          <h3>Mojlak Fanck</h3>
                          <p>Building Worker</p>
                      </div>
                      <div class="social-links">
                          <ul>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              </li>
                              
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-sm-6  mb-5 ">
                  <div class="single-team">
                      <div class="member-thumb w-100">
                          <img src="/assets/images/team_02.jpg" alt="Mojlak Fanck" class="img-fluid w-100">
                      </div>
                      <div class="hover-text">
                          <h3>Mojlak Fanck</h3>
                          <p>Building Worker</p>
                      </div>
                      <div class="social-links">
                          <ul>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              </li>
                              
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-sm-6  mb-5 mb-lg-0 ">
                  <div class="single-team">
                      <div class="member-thumb w-100">
                          <img src="/assets/images/team_03.jpg" alt="Mojlak Fanck" class="img-fluid w-100">
                      </div>
                      <div class="hover-text">
                          <h3>Mojlak Fanck</h3>
                          <p>Building Worker</p>
                      </div>
                      <div class="social-links">
                          <ul>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              </li>
                              
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-sm-6  mb-5 mb-lg-0 ">
                  <div class="single-team">
                      <div class="member-thumb w-100">
                          <img src="/assets/images/team_04.jpg" alt="Mojlak Fanck" class="img-fluid w-100">
                      </div>
                      <div class="hover-text">
                          <h3>Mojlak Fanck</h3>
                          <p>Building Worker</p>
                      </div>
                      <div class="social-links">
                          <ul>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              </li>
                              
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-sm-6  mb-5 mb-lg-0 ">
                  <div class="single-team">
                      <div class="member-thumb w-100">
                          <img src="/assets/images/team_05.jpg" alt="Mojlak Fanck" class="img-fluid w-100">
                      </div>
                      <div class="hover-text">
                          <h3>Mojlak Fanck</h3>
                          <p>Building Worker</p>
                      </div>
                      <div class="social-links">
                          <ul>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                              </li>
                              
                              <li>
                                  <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                              </li>
                              
                          </ul>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<!-- End Our Team Area -->