<section class="section-ptb">
  <div class="testimonials-area" style=" background-image: url(/assets/images/testimonial_bg.png); ">
      <div class="container">
          <div class="row mb-4">
              <div class="col-md-12">
                  <div class="section-title">
                      <h2 class="heading-2">What Clients Say <span class="light-comma"></span></h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="testimonial-slider slider-one">

                      <div class="testimonial-item">
                          <div class="item-wrapper d-lg-flex align-items-center">
                              <div class="testimonial-quote col-lg-7 pl-0">
                                  <p>I was lookıng for a desıgn and buıld contractor who knew the job as ı am too
                                      busy to run a loft and extensıon project… but needed the space my frıends
                                      and neıghbours.
                                  </p>
                                  <div class="quote-bio">

                                      <p><b>Abdullah Sajol,</b> SEO , SK 10 Star Villa.</p>

                                  </div>
                              </div>

                              <div class="testimonial-img col-lg-5">
                                  <div class="author-img">
                                      <img class="img-fluid" src="/assets/images/author.png"
                                          alt="Abdullah Sajol" />
                                  </div>
                              </div>

                          </div>
                      </div>

                      <div class="testimonial-item">
                          <div class="item-wrapper d-lg-flex align-items-center">
                              <div class="testimonial-quote col-lg-7 pl-0">
                                  <p>I was lookıng for a desıgn and buıld contractor who knew the job as ı am too
                                      busy to run a loft and extensıon project… but needed the space my frıends
                                      and neıghbours.
                                  </p>
                                  <div class="quote-bio">

                                      <p><b>Abdullah Sajol,</b> SEO , SK 10 Star Villa.</p>

                                  </div>
                              </div>

                              <div class="testimonial-img col-lg-5">
                                  <div class="author-img">
                                      <img class="img-fluid" src="/assets/images/author.png"
                                          alt="Abdullah Sajol" />
                                  </div>
                              </div>

                          </div>
                      </div>

                      <div class="testimonial-item">
                          <div class="item-wrapper d-lg-flex align-items-center">
                              <div class="testimonial-quote col-lg-7 pl-0">
                                  <p>I was lookıng for a desıgn and buıld contractor who knew the job as ı am too
                                      busy to run a loft and extensıon project… but needed the space my frıends
                                      and neıghbours.
                                  </p>
                                  <div class="quote-bio">

                                      <p><b>Abdullah Sajol,</b> SEO , SK 10 Star Villa.</p>

                                  </div>
                              </div>

                              <div class="testimonial-img col-lg-5">
                                  <div class="author-img">
                                      <img class="img-fluid" src="/assets/images/author.png"
                                          alt="Abdullah Sajol" />
                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>