<section class="section-ptb">
  <div class="testimonial-area-2">
      <div class="container">
          <div class="row inner-pb">
              <div class="col-md-12">
                  <div class="section-title">
                      <h2 class="heading-2">What Clients Say <span class="light-comma"></span></h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="testimonial-wrapper-2">
                      
                      <div class="single-testimonial p-4 mb-3">
                          <div class="rating-list">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                              </ul>
                          </div>
                          <div class="testimonial-text">
                              <p>Excellent service from start to finish the from CC service. Perfect quality we to is couldn’t be happier Our manager start great keeping to date.
</p>
                          </div>
                          <div class="author-bio d-flex">
                              <div class="author-thumb">
                                  <a href="#"><img src="/assets/images/author_04.png" alt="SOMONA BINTE" class="img-fluid" /></a>
                              </div>
                              <div class="author-designation">
                                  <h6>SOMONA BINTE</h6>
                                  <p>SEO , Uber.</p>
                              </div>
                          </div>
                      </div>
                      
                      <div class="single-testimonial p-4 mb-3">
                          <div class="rating-list">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                              </ul>
                          </div>
                          <div class="testimonial-text">
                              <p>Excellent service from start to finish the from CC service. Perfect quality we to is couldn’t be happier Our manager start great keeping to date.
</p>
                          </div>
                          <div class="author-bio d-flex">
                              <div class="author-thumb">
                                  <a href="#"><img src="/assets/images/author_05.png" alt="SOMONA BINTE" class="img-fluid" /></a>
                              </div>
                              <div class="author-designation">
                                  <h6>SOMONA BINTE</h6>
                                  <p>SEO , Uber.</p>
                              </div>
                          </div>
                      </div>
                      
                      <div class="single-testimonial p-4 mb-3">
                          <div class="rating-list">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                              </ul>
                          </div>
                          <div class="testimonial-text">
                              <p>Excellent service from start to finish the from CC service. Perfect quality we to is couldn’t be happier Our manager start great keeping to date.
</p>
                          </div>
                          <div class="author-bio d-flex">
                              <div class="author-thumb">
                                  <a href="#"><img src="/assets/images/author_04.png" alt="SOMONA BINTE" class="img-fluid" /></a>
                              </div>
                              <div class="author-designation">
                                  <h6>SOMONA BINTE</h6>
                                  <p>SEO , Uber.</p>
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>