<!-- Start Video Area -->
<div class="video-area section-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="video-wrapper">
                    <img src="/assets/images/video_bg.jpg" alt="/assets/images/video_bg.jpg" class="img-fluid">
                    <div class="play-btn">
                        <a class="custom-btn" data-fancybox="" href="https://www.youtube.com/watch?v=JIxXd1xp6uo">
                        <i class="fas fa-play"></i> Our Best Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Video Area -->